		
			
/*/////////////////left menu//////*/

.bb1{	background: url(../../images/green/g1.gif) left bottom no-repeat;}
.bb2{	background: url(../../images/green/g2.gif) left bottom repeat-x;}
.bb3{	background: url(../../images/green/g3.gif) left bottom no-repeat;}


.bb4{	background: url(../../images/green/g4.gif) #749E0A left top no-repeat;}
.bb5{	background: url(../../images/green/g5.gif) #749E0A left top repeat-x;}
.bb6{	background: url(../../images/green/g6.gif) #749E0A left top no-repeat;}


.bb7{	background: url(../../images/green/g7.gif) left top no-repeat;}
.bb8{	background: url(../../images/green/g8.gif) left top repeat-x;}
.bb9{	background: url(../../images/green/g9.gif) left top no-repeat;}


/*///////////////////////headerTable///////////////*/

.rec1{	background: url(../../images/green/g_r1.gif) left bottom no-repeat;}
.rec2{	background: url(../../images/green/g_r2.gif) left bottom no-repeat;}
.rec3{	background: url(../../images/green/g_r3.gif) left bottom no-repeat;}
.rec4{	background: url(../../images/green/g_r4.gif) left top no-repeat;}
.rec5{	background: url(../../images/green/G_banner.gif) left top no-repeat;}
.rec6{	background: url(../../images/green/g_r5.gif) left top repeat-y;}
.rec7{	background:  url(../../images/green/g_r7.gif) left top repeat-y;}
.rec8{	background: url(../../images/green/g_r8.gif) left top no-repeat;}
.rec9{	background: url(../../images/green/g_r9.gif) left top repeat-x;}
.rec10{	background: url(../../images/green/g_r10.gif) left top no-repeat;}

/*//////////videobutton/*/

.videos{ background:url(../../images/green/vb.gif) left top repeat-x; border:none; height:23px; border:#666666 solid 1px;  font-size:11px; font-weight:bold; padding-bottom:5px; cursor:pointer; }
.videos:hover{background:url(../../images/green/vb_h.gif) left top repeat-x;}


/*///////////workareabgcolour//////////////////*/

.workbg{	background:#FFFFFF;}

.work_midleareapadding{	padding:3px 5px; 0px 5px;}


/*//////////////////////////buttons & Buttonbg///////////////*/

.btn1{		background: url(../../images/green/btn_01.gif) left top no-repeat;}
.btn_mid{	background: url(../../images/green/btn_02.gif)  top left repeat-x;}
.btn_rt{	background: url(../../images/green/btn_03.gif)  left top no-repeat;}


.button{		font-size:11px; color:#000; cursor:pointer; text-decoration:none;}
.button:hover{	text-decoration:none; color:#FFF; }

/*//////////////////////rightsideheadings///////////*/


.noticeboard{		background: url(../../images/green/noticeboards.jpg) center top no-repeat;}
.thoughtoftheday{ 	background: url(../../images/green/todaythought.jpg) center top no-repeat;}
.calender{ 			background:  url(../../images/green/calender.jpg) center top no-repeat;}
.holidays{			background:  url(../../images/green/holidays.jpg) center top no-repeat;}
.gallery{ 			background: url(../../images/green/gallery.jpg) center top no-repeat;}

/*//////////////////middle work styles////////////////////////*/


.headbg{ background:url(../../images/green/g_h.gif) left top repeat-x; border-top:#FFFFFF solid 5px; padding-left:10px;}

.tdmid_bg{	background:#BCEB65; border-bottom:#A3D02D solid 1px; border-left:#A3D02D solid 1px; border-right:#A3D02D solid 1px; padding:12px;}

.mid_bg2{	background:#BCEB65; border:#A3D02D solid 1px; padding:12px; }



/*///////////////////////////adminheading/////////*/

.left_admin{	background:url(../../images/green/admin_menu.jpg) center top no-repeat;}

.left_staff{ background:url(../../images/green/staffmenu.jpg) center top no-repeat;}
.left_student{ background:url(../../images/green/studentmenu.jpg) center top no-repeat;}


/*//////////////////*bottom//////////*/


.footer{	color:#FFFFFF; font-weight:normal; font-size:12px;}

/* Old CSS Developer End Start */

.body_class{		margin:0px; margin-top:30px;  background: url(../../images/green/bg.gif) #B6E73C center top fixed no-repeat ; font-family:Arial, Helvetica, sans-serif; font-size:12px;
color:#000000; text-decoration:none; }

.body_pop{	background-color:#E3F3BA; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; text-decoration:none; }

.b_box_in{	border:#FFFFFF solid 1px; background:#7BA610; padding:1px; color:#FFFFFF;}

.bgcolor_02{
	background-color:#AAD732;
	border:0 none;
	color:#000000;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

.holiday_big_font{
	font-size:24px;
	font-weight:bold;
}

.admin {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.wel {
	font-family: tahoma;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}
.narmal {
	font-family: tahoma;
	padding:2px;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
.narmaltext {
	font-family: tahoma;
	font-size:10px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
.drop_size{
	width:40px;
	height:15px;
}
.bgtextcolor {
	background-color:#EEFCFD;
	color:#333333;
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: none;
}
.error_message{
	font:Verdana;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:normal;
	font-weight: bold;
	color:#FF3333;
}
.message{
	font:Verdana;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:normal;
	font-weight: bold;
	color:#990000;
}
.odd{
	background-color:#FFFFFF;
}
.even{
	background-color: #E3F3BA;
}
.success_message{
	font:Verdana;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
	background-color: #3A302F;
}
.error_messages{
	font:Verdana;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;	
	text-decoration: none;
	background-color: #A80928;
}
.tbl_grid{
	border: 1px solid #AAD732;  
	border-collapse:collapse;
}
.tb2_grid{
	border: 2px solid #AAD732;  
	
}

.adminfont {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:  #333333;
	text-decoration: none;
}
.admin:hover {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.adminfont:hover {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:  #333333;
	text-decoration: none;
}
.footer_link {
	
	font-size: 12px;	
	color: #FFFFFF;
	text-decoration: none;
}
.footer_link:hover {
	
	font-size: 12px;	
	color: #990000;
	text-decoration: none;
}

.header_link {	
	font-size: 12px;	
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.header_link:hover {	
	font-size: 12px;	
	color: #333333;
	text-decoration: none;
	font-weight:bold;
}
.video_link {
	
	font-size: 12px;	
	color: #000066;
	text-decoration: none;
}
.video_link:hover {
	
	font-size: 12px;	
	color: #990000;
	text-decoration: none;
}

/* pagination */
table.boxPagination{
	/*font-size:0.9em;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table.boxPagination a:hover {
background-color:#698F00;
border:1px solid #698F00;
color:#FFFFFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

table.boxPagination a {
font-family:Verdana, Arial, Helvetica, sans-serif;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #698F00;
color:#698F00;
display:block;
font-size:12px;
padding:2px 6px;
text-decoration:none;
}


.welcometxt {
	color:#000000;
	font-weight:bold;
}
