<!-- ********************** MENU ********************** -->
<div id="logobottom">
<a href="http://ppim.phlatline.org">pPIM</a>
</div>
<div id="menu">
	 <div id="menu_line">
	 </div>
	 <a class="menu_contacts" href="contacts.php">Contacts</a>
	 <a class="menu_calendar" href="calendar.php">Calendar</a>
	 <a class="menu_links" href="links.php">Links</a>
	 <a class="menu_email" href="email.php">E-mail</a>
	 <a class="menu_notes" href="notes.php">Notes</a>
	 <a class="menu_upload" href="upload.php">Upload</a>
</div>

<div id="container">
<div id="frame_top">
</div>